---
import { Image } from 'astro:assets';
import { API_URL } from '../../config';

const { about } = Astro.props;
const { title, subtitle, content, image } = about;
const aboutImage = image.data.attributes.url;
---
<section class="about block-section" data-scroll-section>
	<div class="main-row about__content">
		<div class="about__caption" data-scroll-repeat data-scroll data-scroll-speed="1">
			<h3 class="about__subtitle">{ subtitle }</h3>
			<h2 class="about__title">{ title }</h2>
			<p>{ content }</p>
		</div>
		<figure class="about__image" data-scroll-repeat data-scroll data-scroll-speed="2">
            <Image src={ aboutImage } width="768" height="586" alt={ subtitle }/>
		</figure>
	</div>
</section>

<style>
    .about {
        overflow: initial;
        padding-bottom: 0;
        position: relative;
    }

    /* .about:before {
        background: #000;
        content: '';
        left: -10%;
        height: 1px;
        position: absolute;
        top: 70%;
        transform: rotate(-15deg);
        width: 120%;
        z-index: 1;
    } */


    .about__content {
        align-items: center;
        display: flex;
        position: relative;
        z-index: 2;
    }

    .about__caption {
        color: #000;
        flex: 1;
        margin-right: 60px;
    }

    .about__image {
        flex: 0 0 60%;
        position: relative;
    }

    .about__image img {
        width: 100%;
    }

    .about__subtitle {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.4em;
    }

    .about__title {
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    .about__caption p {
        width: 80%;
    }
</style>