---
const { hero } = Astro.props;
const { titleLine1, titleLine2, titleLine3, subtitle, video, videoPoster } = hero;
const heroVideo = video.data.attributes.url;
const heroVideoPoster = videoPoster.data.attributes.url;
import MainButton from "../ui/MainButton.astro";
import IsoBg from "../ui/IsoBg.astro";
import IsoStroke from "../ui/IsoStroke.astro";
---
<section class="hero" data-scroll-section>
	<div class="hero__content main-row">
		<div class="hero__caption" data-scroll data-scroll-speed="3">
			<div class="hero__titles">
				<h1 class="hero__title">
                    <span class="highlight animate-fade-right animate-duration-1000 animate-ease-in-out animate-fill-both">{ titleLine1 }</span><br>
                    <span class="animate-fade-right animate-duration-1000 animate-delay-100 animate-ease-in-out animate-fill-both">{ titleLine2 }</span><br>
                    <span class="animate-fade-right animate-duration-1000 animate-delay-200 animate-ease-in-out animate-fill-both">{ titleLine3 }</span>
                </h1>
				<h2 class="animate-fade-right animate-duration-1000 animate-delay-300 animate-ease-in-out animate-fill-both">{ subtitle }</h2>
			</div>
            <div class="animate-fade-right animate-duration-1000 animate-delay-[400ms] animate-ease-in-out animate-fill-both">
                <MainButton>Comienza Ahora</MainButton>
            </div>
		</div>
	</div>
	<div class="hero__image">
		<div class="hero__video animate-fade animate-duration-2000 animate-delay-[400ms] animate-ease-in-out animate-fill-both" data-scroll data-scroll-speed="1">
			<div class="hero__video__mask">
                <IsoBg />
			</div>
			<video autoplay muted loop poster={ heroVideoPoster }>
				<source src={ heroVideo } />
			</video>
		</div>
        <div class="animate-fade animate-duration-2000 animate-delay-[600ms] animate-ease-in-out animate-fill-both">
            <IsoStroke />
        </div>
	</div>
</section>

<style>
    .hero {
        background: var(--dark);
        color: #fff;
        height: 100vh;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    .hero__content {
        align-items: center;
        display: flex;
        height: 100vh;
        position: relative;
        z-index: 3;
    }

    .hero__caption {
        max-width: 60%;
    }

    .hero__titles {
        font-size: 4.25em;
        font-weight: 300;
        line-height: 1em;
        margin-bottom: 60px;
    }

    .hero__title {
        font-size: 1.66em;
        font-weight: bold;
        line-height: 0.9em;
        margin-bottom: 10px;
    }

    .hero__title span {
        display: inline-block;
    }

    .hero__title span.highlight {
        border-radius: 0.25rem;
        background: var(--redGradient);
        color: #000;
        line-height: 0.8em;
        mix-blend-mode: lighten;
        padding: 6px 8px;
    }

    .hero__image {
        height: 80vh;
        position: absolute;
        right: 10vh;
        top: 10vh;
        width: 60%;
    }

    .hero__video {
        height: 100%;
        mix-blend-mode: lighten;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .hero__video video {
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .hero__video__mask {
        height: 100.1%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .hero__video__mask svg {
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: auto;
    }

    .hero__image:before {
        background: var(--purpleGradient);
        border-radius: 1000px;
        bottom: -50%;
        content: '';
        display: block;
        filter: blur(40vh);
        height: 100vh;
        opacity: 0.4;
        right: -20vh;
        width: 100vh;
        position: absolute;
    }

    .hero__image:after {
        background: var(--blueGradient);
        border-radius: 1000px;
        content: '';
        display: block;
        filter: blur(40vh);
        height: 100vh;
        opacity: 0.4;
        right: -20vh;
        width: 100vh;
        top: -50%;
        position: absolute;
    }
</style>