<section class="services block-section" data-scroll-section>
	<div class="main-row-normal services__content">
		<h3 class="block-section__title">¿Qué tienes en mente?</h3>
		<ul class="services__list grid__list">
			<li class="service__item grid__item" data-scroll data-scroll-speed="0.4">
				<h2 class="service__item__title">Sitios Web</h2>
				<div class="service__item__icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
						<use xlink:href="/images/icons.svg#website"></use>
					</svg>
					<span style="background-color: #25D366;"></span>
				</div>
				<p>Transformamos tu visión en un sitio web cautivador. Experiencia y creatividad se fusionan para destacar tu presencia en línea.</p>
				<a href="/servicios/sitios-web" class="small-button">
					<span class="small-button__label">Conoce más</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
						<use xlink:href="/images/icons.svg#arrow"></use>
					</svg>
				</a>
			</li>
			<li class="service__item grid__item" data-scroll data-scroll-speed="0.8">
				<h2 class="service__item__title">E-Commerce</h2>
				<div class="service__item__icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
						<use xlink:href="/images/icons.svg#ecommerce"></use>
					</svg>
					<span style="background-color: #FFC700;"></span>
				</div>
				<p>Impulsa tus ventas en línea con nuestras páginas web de E-Commerce. Diseños atractivos, procesos de compra fluidos y seguridad garantizada. </p>
				<a href="#" class="small-button">
					<span class="small-button__label">Conoce más</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
						<use xlink:href="/images/icons.svg#arrow"></use>
					</svg>
				</a>
			</li>
			<li class="service__item grid__item" data-scroll data-scroll-speed="1.2">
				<h2 class="service__item__title">Sistemas Web</h2>
				<div class="service__item__icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
						<use xlink:href="/images/icons.svg#web-system"></use>
					</svg>
					<span style="background-color: #00C2FF;"></span>
				</div>
				<p>Potencia tu negocio con sistemas web a medida. Automatiza procesos, optimiza tu operativa y alcanza tus metas con nuestra solución tecnológica.</p>
				<a href="#" class="small-button">
					<span class="small-button__label">Conoce más</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
						<use xlink:href="/images/icons.svg#arrow"></use>
					</svg>
				</a>
			</li>
			<li class="service__item grid__item" data-scroll data-scroll-speed="1.6">
				<h2 class="service__item__title">Aplicaciones Móviles</h2>
				<div class="service__item__icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
						<use xlink:href="/images/icons.svg#app-mobile"></use>
					</svg>
					<span style="background-color: #FF71F1;"></span>
				</div>
				<p>Da vida a tu idea con aplicaciones móviles innovadoras. Interfaz intuitiva, rendimiento excepcional y presencia en la palma de sus manos.</p>
				<a href="#" class="small-button">
					<span class="small-button__label">Conoce más</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
						<use xlink:href="/images/icons.svg#arrow"></use>
					</svg>
				</a>
			</li>
			<li class="service__item grid__item" data-scroll data-scroll-speed="2">
				<h2 class="service__item__title">Branding</h2>
				<div class="service__item__icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
						<use xlink:href="/images/icons.svg#branding"></use>
					</svg>
					<span style="background-color: #886AFF;"></span>
				</div>
				<p>Define tu identidad con nuestro servicio de branding. Captura la esencia de tu negocio con diseño único y estratégico. </p>
				<a href="#" class="small-button">
					<span class="small-button__label">Conoce más</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
						<use xlink:href="/images/icons.svg#arrow"></use>
					</svg>
				</a>
			</li>
			<li class="service__item grid__item" data-scroll data-scroll-speed="2.4">
				<h2 class="service__item__title">Packaging</h2>
				<div class="service__item__icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
						<use xlink:href="/images/icons.svg#packaging"></use>
					</svg>
					<span style="background-color: #9EFF00;"></span>
				</div>
				<p>Eleva tu producto con nuestro servicio de packaging. Crea impacto visual y funcionalidad en cada presentación. </p>
				<a href="#" class="small-button">
					<span class="small-button__label">Conoce más</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
						<use xlink:href="/images/icons.svg#arrow"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</section>

<style>
    .service__item__title {
        color: var(--dark);
        font-size: 1.125em;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .service__item__icon {
        align-items: center;
        border-radius: 40px;
        display: flex;
        height: 80px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 80px;
    }

    .service__item__icon span {
        background-color: var(--gray);
        left: 0;
        height: 100%;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .service__item__icon svg {
        position: relative;
        z-index: 2;
    }

    .service__item p {
        font-size: 14px;
        line-height: 1.5em;
        margin: 16px 0 24px;
    }
</style>