---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description="test">
    <h1>Sitios Web</h1>
    <li class="service__item grid__item">
        <div class="service__item__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48px">
                <use xlink:href="/images/icons.svg#website"></use>
            </svg>
            <span style="background-color: #25D366;"></span>
        </div>
        <p>Transformamos tu visión en un sitio web cautivador. Experiencia y creatividad se fusionan para destacar tu presencia en línea.</p>
        <a href="/servicios/sitios-web" class="small-button">
            <span class="small-button__label">Conoce más</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="10px" class="small-button__icon">
                <use xlink:href="/images/icons.svg#arrow"></use>
            </svg>
        </a>
    </li>
</Layout>

<style>
    .service__item__title {
        color: var(--dark);
        font-size: 1.125em;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .service__item__icon {
        align-items: center;
        border-radius: 40px;
        display: flex;
        height: 80px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 80px;
    }

    .service__item__icon span {
        background-color: var(--gray);
        left: 0;
        height: 100%;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .service__item__icon svg {
        position: relative;
        z-index: 2;
    }

    .service__item p {
        font-size: 14px;
        line-height: 1.5em;
        margin: 16px 0 24px;
    }
</style>