---
import { ViewTransitions } from 'astro:transitions';
import { Header } from '../components';
import Global from "../styles/Global.astro"

import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
import '@fontsource/roboto/900.css';

interface Props {
	title: string;
	description: string;
	isHome?: boolean;
}

const { title, description, isHome } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
		<title>{ title }</title>
		<link rel="preload" href="/images/vortex-iso.svg" as="image" type="images/svg+xml" crossorigin />
		<link rel="preload" href="/images/vortex-studio.svg" as="image" type="images/svg+xml" crossorigin />
		<ViewTransitions />
	</head>
	<body class=`${ isHome && "isHome" }` >		
		<main class="main" data-scroll-container>
			<Header client:load transition:name="header"/>
			<slot />
		</main>
	</body>
</html>

<script>
	import LocomotiveScroll from 'locomotive-scroll';
	document.addEventListener("astro:page-load", () => {
		const scroller = new LocomotiveScroll({
			el: document.querySelector("[data-scroll-container]"),
			smooth: true
		}
	)})
</script>

<Global/>